@font-face {
  font-family: "ProtomoOutline";
  src: url("/fonts/Protomo-Outline.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

*,
:before,
:after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
  border-color: rgb(var(--border-color));
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  -webkit-text-size-adjust: 100%;
  tab-size: 4;
  scroll-padding-top: var(--sticky-area-height);
  interpolate-size: allow-keywords;
  line-height: 1.5;
}

body {
  background: #c4c4c4;
  font:
    200 1rem / 1.5 "Instrument Sans",
    sans-serif,
    sans-serif;
  letter-spacing: var(--text-letter-spacing);
  margin: 0;
  position: relative;
}

.color-scheme,
.press-media-section,
.arrival-container,
.featured-section,
.bisection {
  color: #161616;
  background-color: rgb(var(--background));
  background-image: url("/images/bg.avif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

a {
  color: inherit;
  -webkit-text-decoration: inherit;
  text-decoration: inherit;
}

ul {
  margin: 0;
}

.dropdown-root summary {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 6px;
}
