@font-face {
  font-family: "ProtomoOutline";
  src: url("/fonts/Protomo-Outline.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --container-max-width: 100%;
  --container-xxs-max-width: 27.5rem;
  --container-xs-max-width: 42.5rem;
  --container-sm-max-width: 61.25rem;
  --container-md-max-width: 71.875rem;
  --container-lg-max-width: 78.75rem;
  --container-xl-max-width: 85rem;
  --container-gutter: 1.25rem;
  --section-vertical-spacing: 2rem;
  --section-vertical-spacing-tight: 2rem;
  --section-stack-gap: 1.5rem;
  --section-stack-gap-tight: 1.5rem;
  --form-gap: 1.25rem;
  --fieldset-gap: 1rem;
  --form-control-gap: 0.625rem;
  --checkbox-control-gap: 0.75rem;
  --input-padding-block: 0.65rem;
  --input-padding-inline: 0.8rem;
  --checkbox-size: 0.875rem;

  --sticky-area-height: calc(
    var(--announcement-bar-is-sticky, 0) * var(--announcement-bar-height, 0px) +
      var(--header-is-sticky, 0) * var(--header-is-visible, 1) *
      var(--header-height, 0px)
  );

  --transform-logical-flip: 1;
  --transform-origin-start: left;
  --transform-origin-end: right;

  --heading-font-family: "Instrument Sans", sans-serif;
  --heading-font-weight: 400;
  --heading-font-style: normal;
  --heading-text-transform: uppercase;
  --heading-letter-spacing: 0.18em;
  --text-font-family: Nunito, sans-serif;
  --text-font-weight: 400;
  --text-font-style: normal;
  --text-letter-spacing: 0em;
  --button-font: var(--text-font-style) var(--text-font-weight) var(--text-sm) /
    1.65 var(--text-font-family);
  --button-text-transform: uppercase;
  --button-letter-spacing: 0.18em;
  /* Font sizes */
  --text-heading-size-factor: 1;
  --text-h1: max(
    0.6875rem,
    clamp(1.375rem, 1.146341463414634rem + 0.975609756097561vw, 2rem) *
      var(--text-heading-size-factor)
  );
  --text-h2: max(
    0.6875rem,
    clamp(1.25rem, 1.0670731707317074rem + 0.7804878048780488vw, 1.75rem) *
      var(--text-heading-size-factor)
  );
  --text-h3: max(
    0.6875rem,
    clamp(1.125rem, 1.0335365853658536rem + 0.3902439024390244vw, 1.375rem) *
      var(--text-heading-size-factor)
  );
  --text-h4: max(
    0.6875rem,
    clamp(1rem, 0.9542682926829268rem + 0.1951219512195122vw, 1.125rem) *
      var(--text-heading-size-factor)
  );
  --text-h5: calc(0.875rem * var(--text-heading-size-factor));
  --text-h6: calc(0.75rem * var(--text-heading-size-factor));
  --text-xs: 0.75rem;
  --text-sm: 0.8125rem;
  --text-base: 0.875rem;
  --text-lg: 1rem;
  --text-xl: 1.125rem;
  --rounded-full: 9999px;
  --button-border-radius: 0.125rem;
  --input-border-radius: 0rem;
  --shadow-sm: 0 2px 8px rgb(0 0 0 / 0.05);
  --shadow: 0 5px 15px rgb(0 0 0 / 0.05);
  --shadow-md: 0 5px 30px rgb(0 0 0 / 0.05);
  --shadow-block: px px px rgb(var(--text-primary) / 0);
}

[dir="rtl"]:root {
  --transform-logical-flip: -1;
  --transform-origin-start: right;
  --transform-origin-end: left;
}

@media screen and (min-width: 700px) {
  :root {
    --text-xs: 0.75rem;
    --text-sm: 0.8125rem;
    --text-base: 0.875rem;
    --text-lg: 1rem;
    --text-xl: 1.25rem;
    --container-gutter: 2rem;
  }
}

@media screen and (min-width: 1000px) {
  :root {
    --container-gutter: 3rem;
    --section-vertical-spacing: 3rem;
    --section-vertical-spacing-tight: 3rem;
    --section-stack-gap: 2.25rem;
    --section-stack-gap-tight: 2.25rem;
  }
}

:root {
  --page-overlay: 0 0 0 / 0.4;
  --page-background: ;
  --on-sale-text: 197 49 45;
  --on-sale-badge-background: 197 49 45;
  --on-sale-badge-text: 255 255 255;
  --sold-out-badge-background: 255 255 255;
  --sold-out-badge-text: 0 0 0 / 0.65;
  --custom-badge-background: 0 0 0;
  --custom-badge-text: 255 255 255;
  --star-color: 48 122 7;
  --success-background: 212 227 203;
  --success-text: 48 122 7;
  --warning-background: 237 237 237;
  --warning-text: 107 107 107;
  --error-background: 219 219 219;
  --error-text: 107 107 107;
}

.color-scheme--scheme-1 {
  --accent: 28 28 28;
  --text-color: 0 0 0;
  --background: 196 196 196 / 1;
  --background-without-opacity: 196 196 196;
  --background-gradient: ;
  --border-color: 167 167 167;
  --button-background: 28 28 28;
  --button-text-color: 255 255 255;
  --circle-button-background: 255 255 255;
  --circle-button-text-color: 28 28 28;
}

.shopify-section:has(
    .section-spacing.color-scheme--bg-4956a57c16ea1cfdc766ca090daf4031
  )
  + .shopify-section:has(
    .section-spacing.color-scheme--bg-4956a57c16ea1cfdc766ca090daf4031:not(
        .bordered-section
      )
  )
  .section-spacing {
  padding-block-start: 0;
}

.color-scheme--scheme-2 {
  --accent: 28 28 28;
  --text-color: 28 28 28;
  --background: 255 255 255 / 1;
  --background-without-opacity: 255 255 255;
  --background-gradient: ;
  --border-color: 221 221 221;
  --button-background: 28 28 28;
  --button-text-color: 255 255 255;
  --circle-button-background: 255 255 255;
  --circle-button-text-color: 28 28 28;
}

.shopify-section:has(
    .section-spacing.color-scheme--bg-54922f2e920ba8346f6dc0fba343d673
  )
  + .shopify-section:has(
    .section-spacing.color-scheme--bg-54922f2e920ba8346f6dc0fba343d673:not(
        .bordered-section
      )
  )
  .section-spacing {
  padding-block-start: 0;
}

.color-scheme--scheme-3 {
  --accent: 255 255 255;
  --text-color: 255 255 255;
  --background: 0 0 0 / 1;
  --background-without-opacity: 0 0 0;
  --background-gradient: ;
  --border-color: 38 38 38;
  --button-background: 255 255 255;
  --button-text-color: 28 28 28;
  --circle-button-background: 255 255 255;
  --circle-button-text-color: 28 28 28;
}

.shopify-section:has(
    .section-spacing.color-scheme--bg-77e774e6cc4d94d6a32f6256f02d9552
  )
  + .shopify-section:has(
    .section-spacing.color-scheme--bg-77e774e6cc4d94d6a32f6256f02d9552:not(
        .bordered-section
      )
  )
  .section-spacing {
  padding-block-start: 0;
}

.color-scheme--scheme-4 {
  --accent: 255 255 255;
  --text-color: 255 255 255;
  --background: 0 0 0 / 0;
  --background-without-opacity: 0 0 0;
  --background-gradient: ;
  --border-color: 255 255 255;
  --button-background: 255 255 255;
  --button-text-color: 28 28 28;
  --circle-button-background: 255 255 255;
  --circle-button-text-color: 28 28 28;
}

.shopify-section:has(
    .section-spacing.color-scheme--bg-3671eee015764974ee0aef1536023e0f
  )
  + .shopify-section:has(
    .section-spacing.color-scheme--bg-3671eee015764974ee0aef1536023e0f:not(
        .bordered-section
      )
  )
  .section-spacing {
  padding-block-start: 0;
}

.color-scheme--dialog {
  --accent: 28 28 28;
  --text-color: 28 28 28;
  --background: 255 255 255 / 1;
  --background-without-opacity: 255 255 255;
  --background-gradient: ;
  --border-color: 221 221 221;
  --button-background: 28 28 28;
  --button-text-color: 255 255 255;
  --circle-button-background: 255 255 255;
  --circle-button-text-color: 28 28 28;
}

.gokwik-checkout {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: end;
  margin-bottom: 10px;
}

.gokwik-checkout button {
  max-width: 100%;
  width: 100%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000000;
  position: relative;
  margin: 0;
  cursor: pointer;
  padding: 5px 10px;
  height: 45px;
}

#gokwik-buy-now.disabled,
.gokwik-disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.gokwik-checkout button:focus {
  outline: none;
}

.gokwik-checkout button > span {
  display: flex;
}

.gokwik-checkout button > span.btn-text {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  align-items: flex-start;
}

.gokwik-checkout button > span.btn-text > span:last-child {
  padding-top: 2px;
  font-size: 10px;
  line-height: 10px;
  text-transform: initial;
}

.gokwik-checkout button > span.btn-text > span:first-child {
  font-size: 13px;
}

.gokwik-checkout button > span.pay-opt-icon img:first-child {
  margin-right: 10px;
  margin-left: 10px;
}

/*   Additional */

.gokwik-checkout button.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.gokwik-checkout button.disabled .addloadr#btn-loader {
  display: flex !important;
}

#gokwik-buy-now.disabled .addloadr#btn-loader {
  display: flex !important;
}

#gokwik-buy-now:disabled {
  cursor: not-allowed;
}

.gokwik-checkout button:hover {
  background-position: right center;
}

button[name="checkout"] {
  width: 0px;
  height: 0px;
  visibility: hidden;
}

#gokwik-buy-now {
  background: #000000;
  width: 100%;
  color: #ffffff;
  cursor: pointer;
  line-height: 1;
  border-radius: 5px;
  padding: 15px 10px;
  font-size: 13px;
  margin-bottom: 10px;
  position: relative;
  text-transform: uppercase;
  letter-spacing: 2px;
}

/* Loader CSS */

#btn-loader {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  justify-content: center;
  align-items: center;
  background: #000000;
  border-radius: 10px;
}

.cir-loader,
.cir-loader:after {
  border-radius: 50%;
  width: 35px;
  height: 35px;
}

.cir-loader {
  margin: 6px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 0.5em solid rgba(255, 255, 255, 0.2);
  border-right: 0.5em solid rgba(255, 255, 255, 0.2);
  border-bottom: 0.5em solid rgba(255, 255, 255, 0.2);
  border-left: 0.5em solid #ffffff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}

@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.gradient {
  background: linear-gradient(180deg, #faf8f0 0%, #043f63 100%);
  --bg-overlay-color: transparent;
  min-width: 980px;
}

.heading,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.prose :where(h1, h2, h3, h4, h5, h6) {
  font-family: "Instrument Sans", sans-serif;
  letter-spacing: 0.18em;
  text-transform: uppercase;
  overflow-wrap: anywhere;
}
